@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  text-align: center;
  background-color: #2B3856;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

 .heading {
  background-color: #FDD017;
  width: 100%;
  height: 500px;
  margin: -250px 0 0 -50%;
  position: absolute;
  top: 50%;
  left: 50%;
}

#titeband  img, h3{
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
}

h1 {
  color: #2B3856;
  font-size: 230%;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 70px;
}

h3 {
  color: #2B3856;
  font-size: 200%;
}

#input input {
  display: inline;
  font-size: 100%;
  margin-top: 40px;
}

.inputstyle {
border: 2px solid #2B3856;
width: 20%;
height: 30px;
}

#input1 {
  margin-right: 20px
}

button {
  margin top: 100px;
}

.bandiera{
  width: 70px;
  height: 70px;
  margin-top: 30px;
}

button {
  cursor: pointer;
  outline: none;
  width: 25%;
  height: 50px;
  margin-top: 25px;
  background-color: #2B3856;
  color: white;
  border: 2px solid #2B3856;
  border-radius: 40px;
  text-transform: uppercase;
  font-size: 100%;
}
